<footer class="cs-secondary-b cs-bg-main">
	<div class="container cs-txt-dark">
		<div class="row">
			<div class="col-sm-3 col-md-3 txt-xsm hidden-xs">
				<p>Thanks to Daniel Teres for his designing tips and guidance, The Flaticon&copy; awesome designs by Freepik, Elegant Themes and Daniel Bruce.
				</p>
				<p class="ralign"><strong>Sebastian Perez &copy;2014</strong></p>
			</div>
			<div class="col-sm-9 col-md-9 socialicons cs-txt-light">
				<div class="mail">
					<a class="social cs-complementary cs-nobg cs-txt-main" href="mailto:sebastianteres@me.com">
						<span class="flaticon-little18"></span></a>
				</div>
				<a class="social" href="http://www.linkedin.com/in/sebastianperezteres/en" target="_blank">
					<span class="flaticon-linkedin2"></span></a>
				<a class="social" href="https://www.google.com/+SebastianPerezTeres?rel=author" target="_blank">
					<span class="flaticon-social92"></span></a>
				<a class="social" href="https://twitter.com/sebastianteres" target="_blank">
					<span class="flaticon-twitter4"></span></a>
				<a class="social" href="https://github.com/sebastianteres" target="_blank">
					<span class="flaticon-github3"></span></a>
			</div>
			<div class="col-xs-12 visible-xs">
				<p>Thanks to Daniel Teres for his designing tips and guidance
					<br/>The Flaticon&copy; awesome designs by Freepik, Elegant Themes and Daniel Bruce.
				</p>
				<p class="ralign"><strong>Sebastian Perez &copy;2014</strong></p>
			</div>
		</div>
	</div>
</footer>