<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sebastian Perez Teres - Frontend Engineer</title>
	<meta name="description" content="I’m a creative frontend engineer focused on delivering usable and beautiful applications to the end user.">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="author" content="Sebastian Perez" />
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>
<body itemscope itemtype="http://data-vocabulary.org/Person">
	<nav class="navbar cs-secondary-b cs-bg-darker">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-sm-6 col-md-4">
					<span class="cs-txt-lighter">Sebastian Perez</span>
				</div>
				<div class="col-xs-4 col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-6">
					<!--<a class="btn dark pull-right" href="/blog">Blog</a>-->
				</div>
			</div>
		</div>
	</nav>

	<div class="hero cs-primary">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-7 cs-txt-darker">
					<h1>Frontend Engineer</h1>
					<h2 class="cs-txt-dark">UX/UI Javascript Ninja</h2>
					<p>
						Experienced in building complex
						<br />beautiful interfaces using exciting 
						<br />libraries such as AngularJS
					</p>
					<a href="mailto:sebastianteres@me.com" class="btn">Contact Me</a>
				</div>
				<div class="col-md-4 col-lg-5 hidden-xs hidden-sm">
					<img itemprop="photo"  src="images/sebastianperez.png" alt="Sebastian Perez">
				</div>
			</div>
		</div>
	</div>

	<div id="info" class="info active-about">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 slider">
					<div class="projects cs-secondary-a cs-bg-lighter" data-target="projects"></div>
					<div class="about cs-secondary-a cs-bg-main" data-target="about"></div>
					<div class="skills cs-secondary-a cs-bg-dark" data-target="skills"></div>
				</div>
			</div>
		</div>
		<div class="margin-helper">
			<!-- SKILLS -->
			<div class="container content-skills cs-secondary-a">
				<div class="row titles">
					<div class="col-sm-2 col-md-offset-1">
						<h3 class="cs-txt-main">Skills</h3>
					</div>
					<div class="col-sm-1 col-md-offset-7">
						<a href="#about"><h3 class="cs-txt-lighter right-tab-title">About Me</h3></a>
					</div>
					<div class="col-sm-1">
						<a href="#projects"><h3 class="cs-txt-main right-tab-title">Projects</h3></a>
					</div>
				</div>
				<div class="row cs-txt-light">
					<div class="col-sm-2 col-md-offset-1"><span class="flaticon-career cs-txt-darker"></span></div>
					<div class="col-sm-5">
						<h4 class="cs-txt-main">Experienced with...</h4>
						<p>
							Javascript: prototypes, closures, ajax, AngularJS, jQuery, Knockout.
							<br/>HTML 5, CSS3, Bootstrap, SCSS, .NET, Crossbrowser compatibitly, Responsive.
							Unix/Linux, Git, Mercurial, Apache HTTPD, Web Services.
							Agile, Test Driven Development.
						</p>
					</div>
				</div>
				<div class="row cs-txt-light">
					<div class="col-sm-5 col-sm-offset-1">
						<h4 class="cs-txt-main">I’ve used a little bit of...</h4>
						<p>
							RequireJS, RactiveJS, PHP Symfony2, Java, Grails, WSO2, NodeJS, MySQL, MongoDB, AWS, Wordpress, Social APIs, Objective-C, JCR.
							Web design - well, I’ve been trying to (this  site is my own design).
						</p>
					</div>
					<div class="col-sm-2"><span class="flaticon-advanced cs-txt-darker"></span></div>
				</div>
				<div class="row cs-txt-light">
					<div class="col-sm-2 col-md-offset-1"><span class="flaticon-chemistry1 cs-txt-darker"></span></div>
					<div class="col-sm-5">
						<h4 class="cs-txt-main">Tried...</h4>
						<p>
							Scala, Coffescript, BackboneJS, PHP Codeigniter, Python, Grunt, Ant, Yeoman.
						</p>
					</div>
				</div>
			</div>


			<!-- ABOUT ME -->
			<div class="container content-about cs-secondary-a">
				<div class="row">
					<div class="col-sm-1">
						<a href="#skills"><h3 class="cs-txt-main left-tab-title">Skills</h3></a>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h3 class="cs-txt-lighter">About Me</h3>
					</div>
					<div class="col-sm-1 col-sm-offset-7">
						<a href="#projects"><h3 class="cs-txt-main right-tab-title">Projects</h3></a>
					</div>
				</div>
				<div class="row cs-txt-darker">
					<div class="col-sm-2 col-sm-offset-2"><span class="flaticon-male156 cs-txt-lighter"></span></div>
					<div class="col-sm-6">
						<p>
							My full name is <span itemprop="name">Sebastian Perez Teres</span>,  I’m a creative <span itemprop="title">frontend engineer</span> focused on delivering usable and beautiful applications to the end user.<br/>
							I have 4 years of experience working on amazing applications with a challenging user experience.<br/>
							I like well organized, maintainable and testable code. I have been working in Agile environments all this time using tools like trello and Asana to keep top productivity.
						</p>
						<p>
							Most of all I like creating reusable code and experiences, take a custom feature and, when possible and if it makes sense, make it configurable enough to be used in different situations by different users.
						</p>
					</div>
				</div>
				<div class="row cs-txt-darker remotexp">
					<div class="col-sm-6 col-sm-offset-2">
						<p>
							I have been working remotely from Mexico for 4 years, mostly for Startups.
							<br/>Working from home wasn’t easy at first but over the time I’ve learned to organize my time and tasks so to be as productive, or more, as working on site.
						</p>
						<p>
							I’m always looking for an exciting project to work on, usually just to learn about a technology or language. I try to keep myself up to date with the latest news, technologies and libraries out there, if I see something interesting, I’ll give it a try and see if it would help on current projects.
						</p>
					</div>
					<div class="col-sm-2"><span class="flaticon-earth cs-txt-lighter"></span></div>
				</div>
				<div class="row cs-txt-dark quotes">
					<div class="col-sm-4 col-sm-offset-2">
						<div class="quote pull-left">
							<span class="flaticon-quotations1 cs-txt-lighter">
						</div>
						<div class="quote-content">
							Sebastian, beyond being an incredibly capable developer, he's an innovative, creative and responsible individual. I am very thankful for the opportunity to work with Sebastian and learn from him.
							<p class="author">- Aaron Sandoval, Chief UX Officer at<br/>Digizent International, LLC</span>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="quote pull-left">
							<span class="flaticon-quotations1 cs-txt-lighter">
						</div>
						<div class="quote-content">
							Sebastian is an excelent web developer, he's always coming up with creative solutions and works thoroughly on every task at hand. He's self motivated and keeps himself updated with the latest technologies and trends.
							<p class="author">- Karlos Maldonado, Web Designer and founder of<br/>La Casa de los Pixeles</span>
						</div>
					</div>
				</div>
			</div>

			<!-- PROJECTS -->
			<div class="container content-projects cs-secondary-a">
				<div class="row">
					<div class="col-sm-1">
						<a href="#skills"><h3 class="cs-txt-main left-tab-title">Skills</h3></a>
					</div>
					<div class="col-sm-1">
						<a href="#about"><h3 class="cs-txt-lighter left-tab-title">About Me</h3></a>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h3 class="cs-txt-main">Projects</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 col-sm-offset-3 cs-txt-dark">
						<div class="project-logo"><span class="icon-logos_urm"></span></div>
						<h4>My first baby</h4>
						<p>
							This awesome startup consisted on building a web CMS running on web browsers but targeting mobile devices.<br />
							The main objective was to make it as simple as possible, designed by the greatest UX Engineer I’ve ever met, we built an
							<br />Edit-In-Place, Drag and Drop editor (I was in charge of frontend). Users 
							absolutely loved it!
						</p><p>
							Later on project evolved to adapt clients SaaS and somehow 
							automagically create mobile web apps based on their API.
							<br />This time I was mainly in charge of the backend writing web services in Grails, using a content
							repository (JCR) to store most of the data.
						</p>
						<p>
							<ul class="label cs-label-main cs-txt-lighter">
								<li>HTML</li>
								<li>CSS</li>
								<li>jQuery</li>
								<li>Grails</li>
								<li>JCR</li>
								<li>WSO2</li>
								<li>PHP</li>
								<li>Symfony2</li>
								<li>Web Services</li>
								<li>Mercurial</li>
								<li>Remote</li>
								<li>Scrum</li>
							</ul>
						</p>
					</div>
					<div class="col-sm-3 cs-txt-dark">
						<div class="project-logo"><span class="icon-logos_ebillity"></span></div>
						<h4>Optimize, Optimize!</h4>
						<p>
							Based on NYC, they offer project management and time tracking solutions for any kind of business.
						</p><p>
							This huge web app built in .NET has a critical page, the time entry tool. That page was particullary slow so I jumped in to help make it faster. Moving away from ASP we decided to go for web services, using KnockoutJS and Bootstrap killer combo we were able to make this rather complex page load twice as fast compared to first ASP version.
						</p>
						<p>
							<ul class="label cs-label-main cs-txt-lighter">
								<li>HTML</li>
								<li>CSS</li>
								<li>KnockoutJS</li>
								<li>AmplifyJS</li>
								<li>MomentJS</li>
								<li>UnderscoreJS</li>
								<li>Web Services</li>
								<li>SVN</li>
								<li>Remote</li>
								<li>Freelance</li>
							</ul>
						</p>
					</div>
					<div class="col-sm-3 cs-txt-dark">
						<div class="project-logo"><span class="icon-logos_mediapass"></span></div>
						<h4>Brilliant is often challenging</h4>
						<p>
							The idea is simple, help publishers charge for their content. The solution, however, hides all kinds of backbreaking efforts that comes with launching a widget in a thirdparty site.
						</p><p>
							Of course everything needs to be super fast and secure. They also offer an elegant console for
							publishers to set up their account and start making some money.
							<br />I was in charge of building an Edit-In-Place Editor to customize the subscription widget.
						</p>
						<p>I was also able to help with mediapass' iOS SDK they offer to publishers that wishes to use mediapass 	on their iOS app. First by fixing a few bugs and later on extending it.
						<p>
							<ul class="label cs-label-main cs-txt-lighter">
								<li>HTML</li>
								<li>CSS</li>
								<li>Vanilla Javascript</li>
								<li>AngularJS</li>
								<li>RactiveJS</li>
								<li>AmplifyJS</li>
								<li>RequireJS</li>
								<li>jQuery</li>
								<li>Objective-C</li>
								<li>AWS</li>
								<li>Web Services</li>
								<li>Mercurial</li>
								<li>Remote</li>
								<li>Scrum</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="info-sm" class="info-sm active-about">
		<div class="container">
			<div class="row tabs">
				<div class="col-xs-4 cs-secondary-a cs-bg-dark cs-txt-main calign">
					<a href="#skills"><h4>Skills</h4></a>
				</div>
				<div class="col-xs-4 cs-secondary-a cs-bg-main cs-txt-lighter calign">
					<a href="#about"><h4>About Me</h4></a>
				</div>
				<div class="col-xs-4 cs-secondary-a cs-bg-light cs-txt-dark calign">
					<a href="#projects"><h4>Projects</h4></a>
				</div>
			</div>
			<div class="about-sm">
				<div class="row cs-secondary-a cs-bg-main cs-txt-darker">
					
					<div class="col-xs-2 col-xs-offset-1">
						<span class="flaticon-male156 cs-txt-lighter"></span>
					</div>
					<div class="col-xs-8 firstrow">
						<p>
							 My full name is Sebastian Perez Teres,  I’m a creative frontend engineer focused on delivering usable and beautiful applications to the end user.
						</p>
					</div>
				</div>
				<div class="row cs-secondary-a cs-bg-main cs-txt-darker">
					<div class="col-xs-10 col-xs-offset-1">
						<ul class="label cs-label-dark cs-txt-light">
							<li>4+ years of experience</li>
							<li>Autodidact</li>
							<li>Responsible</li>
							<li>Focused on User Experience</li>
							<li>Testability & Maintainability</li>
							<li>Agile methodologies</li>
							<li>Reusability</li>
							<li>Creative</li>
							<li>Telecommuting</li>
						</ul>
					</div>
				</div>
				<div class="row cs-secondary-a cs-bg-main cs-txt-dark">
					<div class="col-xs-10 col-xs-offset-1 contentrow quotes">
						<div class="quote pull-left">
							<span class="flaticon-quotations1 cs-txt-lighter">
						</div>
						<div class="quote-content">
							Sebastian, beyond being an incredibly capable developer, he's an innovative, creative and responsible individual. I am very thankful for the opportunity to work with Sebastian and learn from him.
							<p class="author">- Aaron Sandoval, Chief UX Officer at<br/>Digizent International, LLC</span>
						</div>
					</div>
				</div>
				<div class="row cs-secondary-a cs-bg-main cs-txt-dark">
					<div class="col-xs-10 col-xs-offset-1 lastrow quotes">
						<div class="quote pull-left">
							<span class="flaticon-quotations1 cs-txt-lighter">
						</div>
						<div class="quote-content">
							Sebastian is an excelent web developer, he's always coming up with creative solutions and works thoroughly on every task at hand. He's self motivated and keeps himself updated with the latest technologies and trends.
							<p class="author">- Karlos Maldonado, Web Designer and founder of<br/>La Casa de los Pixeles</span>
						</div>
					</div>
				</div>
			</div>
			<div class="skills-sm">

				<div class="row cs-secondary-a cs-bg-dark cs-txt-light">
					
					<div class="col-xs-10 col-xs-offset-1 firstrow lastrow calign">

						<span class="lvl-2">AngularJS</span>
						<span class="lvl-1">Grunt</span>
						<span class="lvl-5">Javascript</span>
						<span class="lvl-3">Responsive</span>
						<span class="lvl-4">Prototypes</span>
						<span class="lvl-2">PHP Symfony2</span>

						<span class="lvl-3">Git</span>
						<span class="lvl-5">Knockout</span>
						<span class="lvl-2">NodeJS</span>
						<span class="lvl-5">jQuery</span>

						<span class="lvl-1">Scala</span>
						<span class="lvl-4">Closures</span>
						<span class="lvl-2">Java</span>
						<span class="lvl-5">AJAX</span>
						
						<span class="lvl-1">Python</span>
						<span class="lvl-4">RactiveJS</span>
						<span class="lvl-2">MongoDB</span>
						
						<span class="lvl-3">SCSS</span>
						<span class="lvl-5">HTML 5</span>
						<span class="lvl-2">MySQL</span>
						<span class="lvl-5">CSS3</span>
						<span class="lvl-2">Web design</span>
						<span class="lvl-4">RequireJS</span>
						<span class="lvl-2">Social APIs</span>
						<span class="lvl-4">Bootstrap</span>
						<span class="lvl-1">Ant</span>
						<span class="lvl-4">Crossbrowser compatibitly</span>
						<span class="lvl-2">Objective-C</span>
						<span class="lvl-5">Unix/Linux</span>
						<span class="lvl-1">BackboneJS</span>
						<span class="lvl-4">Mercurial</span>
						<span class="lvl-2">AWS</span>
						<span class="lvl-3">Apache HTTPD</span>
						<span class="lvl-2">JCR</span>
						<span class="lvl-1">Coffescript</span>
						<span class="lvl-4">Web Services</span>
						<span class="lvl-2">Grails</span>
						<span class="lvl-5">Agile</span>
						<span class="lvl-2">Wordpress</span>
						<span class="lvl-3">Test Driven Development</span>
						<span class="lvl-2">WSO2</span>
						<span class="lvl-1">Yeoman</span>
					</div>
				</div>
			</div>
			<div class="projects-sm">
				<div class="row cs-secondary-a cs-bg-light cs-txt-dark">
					<div class="col-xs-10 col-xs-offset-1 project">
						<div class="project-logo"><span class="icon-logos_urm"></span></div>
						<div class="project-details">
							<p>
								This awesome startup consisted on building a web CMS running on web browsers but targeting mobile devices.<br />
								The main objective was to make it as simple as possible, designed by the greatest UX Engineer I’ve ever met, we built an
								<br />Edit-In-Place, Drag and Drop editor (I was in charge of frontend). Users 
								absolutely loved it!
							</p><p>
								Later on project evolved to adapt clients SaaS and somehow 
								automagically create mobile web apps based on their API.
								<br />This time I was mainly in charge of the backend writing web services in Grails, using a content
								repository (JCR) to store most of the data.
							</p>
							<p>
								<ul class="label cs-label-main cs-txt-lighter">
									<li>HTML</li>
									<li>CSS</li>
									<li>jQuery</li>
									<li>Grails</li>
									<li>JCR</li>
									<li>WSO2</li>
									<li>PHP</li>
									<li>Symfony2</li>
									<li>Web Services</li>
									<li>Mercurial</li>
									<li>Remote</li>
									<li>Scrum</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
				<div class="row cs-secondary-a cs-bg-lighter cs-txt-dark">
					<div class="col-xs-10 col-xs-offset-1 project">
						<div class="project-logo"><span class="icon-logos_ebillity"></span></div>
						<div class="project-details">
							<p>
								Based on NYC, they offer project management and time tracking solutions for any kind of business.
							</p><p>
								This huge web app built in .NET has a critical page, the time entry tool. That page was particullary slow so I jumped in to help make it faster. Moving away from ASP we decided to go for web services, using KnockoutJS and Bootstrap killer combo we were able to make this rather complex page load twice as fast compared to first ASP version.
							</p>
							<p>
								<ul class="label cs-label-main cs-txt-lighter">
									<li>HTML</li>
									<li>CSS</li>
									<li>KnockoutJS</li>
									<li>AmplifyJS</li>
									<li>MomentJS</li>
									<li>UnderscoreJS</li>
									<li>Web Services</li>
									<li>SVN</li>
									<li>Remote</li>
									<li>Freelance</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
				<div class="row cs-secondary-a cs-bg-light cs-txt-dark">
					<div class="col-xs-10 col-xs-offset-1 project">
						<div class="project-logo"><span class="icon-logos_mediapass"></span></div>
						<div class="project-details">
							<p>
								The idea is simple, help publishers charge for their content. The solution, however, hides all kinds of backbreaking efforts that comes with launching a widget in a thirdparty site.
							</p><p>
								Of course everything needs to be super fast and secure. They also offer an elegant console for
								publishers to set up their account and start making some money.
								<br />I was in charge of building an Edit-In-Place Editor to customize the subscription widget.
							</p>
							<p>I was also able to help with mediapass' iOS SDK they offer to publishers that wishes to use mediapass 	on their iOS app. First by fixing a few bugs and later on extending it.
							<p>
							<ul class="label cs-label-main cs-txt-lighter">
								<li>HTML</li>
								<li>CSS</li>
								<li>Vanilla Javascript</li>
								<li>AngularJS</li>
								<li>RactiveJS</li>
								<li>AmplifyJS</li>
								<li>RequireJS</li>
								<li>jQuery</li>
								<li>Objective-C</li>
								<li>AWS</li>
								<li>Web Services</li>
								<li>Mercurial</li>
								<li>Remote</li>
								<li>Scrum</li>
							</ul>
						</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="cs-secondary-b cs-bg-main">
		<div class="container cs-txt-dark">
			<div class="row">
				<div class="col-sm-3 col-md-3 txt-xsm hidden-xs">
					<p>Thanks to Daniel Teres for his designing tips and guidance, The Flaticon&copy; awesome designs by Freepik, Elegant Themes and Daniel Bruce.
					</p>
					<p class="ralign"><strong>Sebastian Perez &copy;2014</strong></p>
				</div>
				<div class="col-sm-9 col-md-9 socialicons cs-txt-light">
					<div class="mail">
						<a class="social cs-complementary cs-nobg cs-txt-main" href="mailto:sebastianteres@me.com">
							<span class="flaticon-little18"></span></a>
					</div>
					<a class="social" href="http://www.linkedin.com/in/sebastianperezteres/en" target="_blank">
						<span class="flaticon-linkedin2"></span></a>
					<a class="social" href="https://www.google.com/+SebastianPerezTeres?rel=author" target="_blank">
						<span class="flaticon-social92"></span></a>
					<a class="social" href="https://twitter.com/sebastianteres" target="_blank">
						<span class="flaticon-twitter4"></span></a>
					<a class="social" href="https://github.com/sebastianteres" target="_blank">
						<span class="flaticon-github3"></span></a>
				</div>
				<div class="col-xs-12 visible-xs">
					<p>Thanks to Daniel Teres for his designing tips and guidance
						<br/>The Flaticon&copy; awesome designs by Freepik, Elegant Themes and Daniel Bruce.
					</p>
					<p class="ralign"><strong>Sebastian Perez &copy;2014</strong></p>
				</div>
			</div>
		</div>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/home.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-48599408-1', 'sebastianteres.com');
		ga('send', 'pageview');

	</script>
</body>
</html>