/*@import 'normalize';
@import 'grid';
@import 'buttons';
@import 'helpers';*/
@import 'buttons';
@import 'icons';
@import 'colorscheme';
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/**
 * Mixins
 */

@mixin setTransformOrigin($origin) {
	transform-origin: $origin;
	-o-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-moz-transform-origin: $origin;
	-webkit-transform-origin: $origin;
}

@mixin rotate($angle, $origin) {
	@include setTransformOrigin($origin);
	transform: rotate($angle);
	-o-transform: rotate($angle);
	-ms-transform: rotate($angle);
	-moz-transform: rotate($angle);
	-webkit-transform: rotate($angle);
}
/**
 * Styles
 */

/**
 * Fix blank space problem
 * http://stackoverflow.com/questions/17005500/bootstrap-css-responsive-left-with-a-white-space-on-the-right
 */
html {
  width: auto !important;
  overflow-x: hidden !important;
}
body {
  width: auto !important;
  overflow-x: hidden !important;
}
.txt-sm {
	font-size: 0.9em;
}
.txt-xsm {
	font-size: 0.8em;
}

body {
	font-family: 'Lato', sans-serif;
}
.container h3 {font-size: 2.143em;}

.navbar {
	font-size: 1.786em;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0;
	font-weight: normal;
	.row {
		line-height: 40px;
	}
	margin-bottom: 0;
	.btn {
		padding: 10px 20px;
	}
}

.hero {
	text-align: center;
	h1 {
		font-size: 4.286em;
	}
	h2 {
		font-size: 3.214em;
	}
	h1, h2 {
		font-weight: normal;
		margin: 0;
		line-height: auto;
	}
	p {
		font-size: 1.714em;
	}
	.container {
		padding: 90px 0;
	}
	.btn {
		font-weight: normal;
		font-size: 1.429em;
		padding: 10px 20px;
		border: none;
	}
}

.info {

	/* Landscape phone to portrait tablet */
	@media (max-width: 767px) { display: none;}

	/* Landscape phones and down */
	@media (max-width: 480px) { display: none; }
	a {
		text-decoration: none;
	}
	overflow: hidden;
	height: 700px;
	position: relative;
	.slider {
		position: relative;
		.skills, .about {
			-webkit-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
			-moz-box-shadow:    2px 0px 5px 0px rgba(0, 0, 0, 0.3);
			box-shadow:         2px 0px 5px 0px rgba(0, 0, 0, 0.3);
		}
		.skills, .about, .projects {
			top: 0;
			height: 700px;
			width: 100%;
			position: absolute;
		}
		.margin-helper {
			position:absolute;
			mergin-left: 50%;
			.container {
				position: absolute;
				mergin-left: -50%;
			}
		}
	}
	&.active-skills {
		.skills {left: -20.46%;width:110%;}
		.about {left: 0;}
		.projects {left: 100%;width:110%;}
		.content-skills {display: block;}
		.content-about {display: none;}
		.content-projects {display: none;}
	}
	&.active-about {
		.skills {left: -100%;}
		.about {left: 0;}
		.projects {left: 100%;}
		.content-skills {display: none;}
		.content-about {display: block;}
		.content-projects {display: none;}
	}
	&.active-projects {
		.skills {left: -100%;}
		.about {left: -89.54%;}
		.projects {left: 10.46%;;width:110%;}
		.content-skills {display: none;}
		.content-about {display: none;}
		.content-projects {display: block;}
	}

	h4 {
		margin: 0;
		font-size: 18px;
		font-weight: bold;
	}

	p {
		font-size: 14px;
	}
}
.content-skills {
	.flaticon-career:before {
		font-size: 110px;
	}
	.flaticon-advanced:before {
		font-size: 120px;
	}
	.flaticon-chemistry1:before {
		font-size: 126px;
	}
	.row { margin-bottom: 30px;}
}
.content-projects {
	.project-logo {
		text-align: center;
		margin-bottom: 30px;
		margin-top: 20px;
	}
	.icon-logos_urm:before{font-size: 54px;line-height: 66px;}
	.icon-logos_mediapass:before{font-size: 40px;line-height: 66px;}
	.icon-logos_ebillity:before{font-size: 66px;line-height: 66px;}
	.col-3 { padding-top: 40px;}
	.icon-info { margin: 0 auto 30px; display: block;}
	.urmobile, .mediapass {
		margin-top: 13px;
	}
}
.content-about {
	.flaticon-male156:before {font-size: 170px;}
	.flaticon-earth:before {font-size: 144px;}
	.flaticon-quotations1:before {font-size: 40px;}

	.row.remotexp { margin-top: 30px;}
	.quotes {
		margin-top: 30px;
		.quote {display:block;}
		.quote-content {
			float: left;
			width: 300px;
			margin: 10px 0 0 10px;
			font-size: 0.9em;
		}
		.author {
			font-size: 0.8em;
			text-align: right;
		}
	}
}
.right-tab-title {
	@include rotate(90deg, 0 20px);
	white-space:nowrap;
}
.left-tab-title {
	@include rotate(270deg, 100% 20px);
	float:right;
	white-space:nowrap;
}

.calign {
	text-align: center;
}

/**
 * Mobile version of about, skills & projects
 */

.info-sm {
	display: none;
	a {text-decoration: none; color: inherit;}
	/* Landscape phone to portrait tablet */
	@media (max-width: 767px) { display: block;}

	/* Landscape phones and down */
	@media (max-width: 480px) { display: block;}
	.tabs h4 {
		@media (max-width: 480px) { font-size: 1em;}
	}
	.firstrow {margin-top: 25px;}
	.contentrow {margin-top: 15px;}
	.lastrow {margin-top:15px;margin-bottom:25px;}

	.about-sm {
		display: none;
		.flaticon-male156:before {font-size: 100px; margin-left: -25px;}
		.flaticon-quotations1:before {font-size: 40px;}
		.quotes {
			margin-top: 30px;
			.quote {display:block; margin-right: 10px;}
			.quote-content {
				font-size: 0.9em;
			}
			.author {
				font-size: 0.8em;
				text-align: right;
			}
		}
	}

	.skills-sm {
		display: none;
		.flaticon-career:before {font-size: 40px;margin-right: 10px;}
		.flaticon-advanced:before {font-size: 40px;margin-right: 10px;}
		.flaticon-chemistry1:before {font-size: 40px;margin-right: 10px;}

		@for $i from 1 through 5 {
			.lvl-#{$i} { 
				$size : 0.7 + (($i / 10) * 2);
				font-size: $size + em;
			}
		}
		.lvl-5 {font-weight: bold;}
	}

	.projects-sm {
		display: none;
		text-align: center;
		.icon-logos_urm:before{font-size: 54px;line-height: 80px;}
		.icon-logos_mediapass:before{font-size: 40px;line-height: 80px;}
		.icon-logos_ebillity:before{font-size: 66px;line-height: 80px;}
		.project { margin-top: 10px; margin-bottom: 10px;}

		.project-details {
			display: none;
			&.active {display: block;}
		}
	}
	&.active-skills .skills-sm {display:block;}
	&.active-about .about-sm {display:block;}
	&.active-projects .projects-sm {display:block;}

}

footer {
	padding: 20px 0 10px;
	p {
		margin-top: 0;
	}
	[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
		font-size: 50px;
		@media (max-width: 480px) { font-size: 40px;}
	}
	.socialicons {
		line-height: 82px;
	}
	a.social {
		float: right;
		text-decoration: none;
		color: inherit;
		margin-right: 10px;
	}
	a.social:hover {
		color: #fff;
	}
	.mail {
		margin-top: -13px;
		margin-left: 5px;
		.flaticon-little18:before {font-size: 65px;
			@media (max-width: 480px) { font-size: 50px;}}
		float: right;
		font-size: 50px;
		line-height: 50px;
		@media (max-width: 480px) { line-height: 40px; margin-top: 0px;}
	}
}